{% extends "web/app/app_base.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% block app %}


<div class="module_wrap">
    <div class="form10_title_wrap">
      <h3 class="form10_h3">Change your password<br></h3>
    </div>
    <div class="form10">
      <div class="form10_form_block w-form">
        <form method="POST" id="email-form-2" name="email-form-2" data-name="Email Form 2" class="form10_form"  action="{% url 'account_change_password' %}" class="password_change">

           {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="field">
          <label class="label">Current Password</label>
          <div class="control">
            {{ form.oldpassword }}
          </div>
          {{ form.oldpassword.errors }}
        </div>
        <div class="field">
          <label class="label">New Password</label>
          <div class="control">
            {{ form.password1 }}
          </div>
          {{ form.password1.errors }}
        </div>
        <div class="field">
          <label class="label">New Password (again)</label>
          <div class="control">
            {{ form.password2 }}
          </div>
          {{ form.password2.errors }}
        </div>

       <input type="submit" value="{% trans 'Change Password' %}"  class="form10_button w-button">
     </form>
  </div>
    </div>
  </div>
{% endblock %}
