<div class="f09_container">
      <div class="f09_line"></div>
      <div class="f09_columns w-row">
        <div class="f09_column w-col w-col-4 w-col-stack"><img src="/static/images/stockk.png" width="130" alt="logo" class="f09_logo">
          <p class="f09_paragraph">Have questions about Stockk? We've got all the answers you need. Shoot us an email and we'll get back to you shortly.</p><a href="#" class="f09_link_wrap w-inline-block"><img src="https://uploads-ssl.webflow.com/5d01778cda7c6cc8a63e0b64/5d1324fd4b05c818c6fbecc1_mail.svg" width="19" alt="" class="f09_icon"><p class="f09_text">contact@stockk.io</p></a>
</div>


        <div class="f09_column w-col w-col-2 w-col-stack">
          <div class="f09_title"></div><a href="#" class="f09_link"></a><a href="#" class="f09_link"></a><a href="#" class="f09_link"></a></div>
        <div class="f09_column w-col w-col-3 w-col-stack">

          
          <div class="f09_title"></div><a href="#" class="f09_link"></a><a href="#" class="f09_link"></a><a href="#" class="f09_link"></a></div>
        <div class="f09_column w-col w-col-3 w-col-stack">
          <div class="f09_title"></div>
          <div class="f09_social_wrap">

            <!-- <div class="f09_social"><img src="/static/images/forest_facebook_w.svg" alt="" class="f09_social_icon"><a href="#" class="f09_social_link w-inline-block"></a></div> -->
            <!-- <div class="f09_social"><img src="/static/images/forest_linkedin_w.svg" alt="" class="f09_social_icon"><a href="#" class="/static/f09_social_link w-inline-block"></a></div> -->
            <div class="f09_social"><img src="/static/images/forest_twitter_w.svg" alt="" class="f09_social_icon"><a href="https://twitter.com/stockkio" class="f09_social_link w-inline-block"></a></div>
          </div>
        </div>
      </div>
    </div>