  <div class="form-row">
    <label for="card-element">
      Credit or debit card
    </label>
    <div style='-webkit-box-direction: normal;
box-sizing: border-box;
font: inherit;
margin: 0;
display: block;
width: 500px;
height: 38px;
padding: 8px 12px;
margin-bottom: 10px;
line-height: 1.42857143;
color: #333333;
vertical-align: middle;

min-height: 48px;
border: 1.5px solid #e2e4e9;
border-radius: 4px;
background-color: #fff;
font-size: 1rem;
text-align: inherit;
box-sizing: inherit;
box-shadow: inset 0 0.0625em 0.125em rgba(10,10,10,0.05);
border-radius: 4px;
line-height: 1.5;
border: 1px solid #dbdbdb;
padding: 1em;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
text-size-adjust: 100%;
font-size: 16px;' id="card-element">
      <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display form errors. -->
    <div id="card-errors" role="alert"></div>
  </div>
