<div class="modal-content">
      <span id="modal-close-btn" class="close">&times;</span>
      <!-- <div style="display: flex; flex-direction: row;"><div> -->
      <!-- <div class="m09"> -->
      <div class="m09_content">


      <h5 class="form05_h5">Expiration: <span id="editor-expiration-date"></span> @ <span id="editor-price"></span> each</h5>


        <div class="m09_line"></div>
        <div class="form05_form_block w-form">
          <div class="form05_wrap">
            <label class="form05_title">Price $</label>
            <input style="color:#000000" type="number" id="editor-price-per-option" maxlength="256" class="form05_input budget w-input">
            <label for="Budget-2" class="field-label-copy">x 100</label>
          </div>

         <div class="form05_wrap">
            <label class="form05_title">Contracts</label>
            <input style="color:#000000" type="number" id="editor-contracts" value="1" maxlength="256" class="form05_input budget w-input">
          </div>


          <div class="form05_wrap">
            <label class="form05_title">Total Cost:</label>
            <label class="form05_title">$<span id="editor-total-cost"></span></label>
          </div>

        <div class="m09_details_wrap">
          <button id="modal-cancel" class="m01_button">Cancel</button>
          <button type="submit" id="modal-submit" class="m01_button_02">Calculate</button>
        </div>
        <p id="err-message" class="err-text"></p>

</div>

      </div>

      </div>
    </div>
  </div>
</div>