<div class="section">
                    <div class="card">
                      <div style="margin-bottom:5px;" class="card-heading">
                        <h4>Technical Indicators</h4>
                      </div>
                      <div class="balance-list">
                        <div class="table">
                          <div class="row table-row flex-center w-row">
                            <div class="col table-col w-col w-col-4">
                              <div class="currency-balance-item">
                                <div>
                                  <h4 class="currency-short-name">RSI</h4>
                                </div>
                              </div>
                            </div>
                            <div class="col table-col align-right w-col w-col-4">
                            </div>
                            <div class="w-col w-col-4">
                              <div class="align-right">
                                <h4>{{data.technical.rsi}}</h4>
                              </div>
                            </div>
                          </div>

                          <div class="row table-row flex-center w-row">
                            <div class="col table-col w-col w-col-4">
                              <div class="currency-balance-item">
                                <div>
                                  <h4 class="currency-short-name">5 EMA</h4>
                                </div>
                              </div>
                            </div>
                            <div class="col table-col align-right w-col w-col-4">
                            </div>
                            <div class="w-col w-col-4">
                              <div class="align-right">
                                <h4>${{data.technical.5ema}}</h4>
                              </div>
                            </div>
                          </div>

                          <div class="row table-row flex-center w-row">
                            <div class="col table-col w-col w-col-4">
                              <div class="currency-balance-item">
                                <div>
                                  <h4 class="currency-short-name">20EMA</h4>
                                </div>
                              </div>
                            </div>
                            <div class="col table-col align-right w-col w-col-4">
                            </div>
                            <div class="w-col w-col-4">
                              <div class="align-right">
                                <h4>${{data.technical.20ema}}</h4>
                              </div>
                            </div>
                          </div>

                          <div class="row table-row flex-center w-row">
                            <div class="col table-col w-col w-col-4">
                              <div class="currency-balance-item">
                                <div>
                                  <h4 class="currency-short-name">5SMA</h4>
                                </div>
                              </div>
                            </div>
                            <div class="col table-col align-right w-col w-col-4">
                            </div>
                            <div class="w-col w-col-4">
                              <div class="align-right">
                                <h4>${{data.technical.5sma}}</h4>
                              </div>
                            </div>
                          </div>

                                                    <div class="row table-row flex-center w-row">
                            <div class="col table-col w-col w-col-4">
                              <div class="currency-balance-item">
                                <div>
                                  <h4 class="currency-short-name">20SMA</h4>
                                </div>
                              </div>
                            </div>
                            <div class="col table-col align-right w-col w-col-4">
                            </div>
                            <div class="w-col w-col-4">
                              <div class="align-right"><h4>${{data.technical.20sma}}</h4></div>
                            </div>
                          </div>




                                 <div class="row table-row flex-center w-row">
                            <div class="col table-col w-col w-col-4">
                              <div class="currency-balance-item">
                                <div>
                                  <h4 class="currency-short-name">50SMA</h4>
                                </div>
                              </div>
                            </div>
                            <div class="col table-col align-right w-col w-col-4">
                            </div>
                            <div class="w-col w-col-4">
                              <div class="align-right"><h4>${{data.movement.50mavg}}</h4></div>
                            </div>
                          </div>


                                                    <div class="row table-row flex-center w-row">
                            <div class="col table-col w-col w-col-4">
                              <div class="currency-balance-item">
                                <div>
                                  <h4 class="currency-short-name">200SMA</h4>
                                </div>
                              </div>
                            </div>
                            <div class="col table-col align-right w-col w-col-4">
                            </div>
                            <div class="w-col w-col-4">
                              <div class="align-right"><h4>${{data.movement.200mavg}}</h4></div>
                            </div>
                          </div>





                        </div>
                      </div>
                    </div>
                  </div>



