{% load static %}
<div class="fe03">
    <div class="fe03_title_wrap">
      <p class="fe03_title">OUR&nbsp;AFFILIATES&nbsp;CAN&nbsp;HELP</p>
      <h2 class="fe03_h2">Not sure what you're doing?<br>We can show you the resources to help</h2>
      <div class="fe03_line"></div>
    </div>
    <div class="fe03_container">
      <div class="fe03_card"><img src="{% static 'images/activity.svg' %}" alt="" class="fe03_icon">
        <h3 class="fe03_h3">Stock Market Investing Fundamentals</h3>
        <p class="fe03_text">6 hours worth of lectures.  
<br>
If you're new to the stock market you will learn everything you need.</p>
<a href="https://gumroad.com/a/10286195/ZUsVf" class="temp04_button w-button">LEARN&nbsp;MORE</a>
      </div>
      <div class="fe03_card"><img src="{% static 'images/bar-chart.svg' %}" alt="" class="fe03_icon">
        <h3 class="fe03_h3">
Options Trading Workshop
</h3>
        <p class="fe03_text">Find out how one man made $20K trading options on the side.</p><a href="https://gumroad.com/a/10286195/bOUnl" class="temp04_button w-button">LEARN&nbsp;MORE</a>
      </div>
      <div class="fe03_card"><img src="{% static 'images/zap.svg' %}" alt="" class="fe03_icon">
        <h3 class="fe03_h3">Stock Market Combo Pack: Stocks & Options</h3>
        <p class="fe03_text">Everything you need to gain the knowledge to be a smarter trader & investor.</p><a href="https://gumroad.com/a/10286195/RdVIE" class="temp04_button w-button">LEARN&nbsp;MORE</a>
      </div>
      <div class="fe03_card"><img src="{% static 'images/loader.svg' %}" alt="" class="fe03_icon">
        <h3 class="fe03_h3">Advanced Options Course</h3>
        <p class="fe03_text">Serious traders only. Learn how to make smarter trades, and lose less money.</p><a href="https://gumroad.com/a/10286195/zWZwD" class="temp04_button w-button">LEARN&nbsp;MORE</a>
      </div>
    </div>
  </div>