{% extends "web/base.html" %}
{% load static %}
{% block body %}
    <section class="section container">
        <div class="content">
            <h1>Terms Of Service</h1>
            <p>The information provided on this site is provided as an estimate only and makes no claim to be an accurate representation of current or future values. It, therefore, does not claim that estimated returns on investment and/or estimated prices will be accurate.

This website does not give any investment advice and does not give any recommendations as to which trading style you should adopt for your own personal use. The publisher of this site is not a licensed financial advisor, and cannot, and will not give any financial advise, stock tips, or recommendations. And cannot, and will not try to encourage you to trade a certain instrument over another.

Your decision to trade, the instruments you trade, and the trading method that you employ is yours alone to decide upon. The publisher of this site and all those involved or associated with this publication expressly disclaim all and any liability to any person or persons whether a user of any of our products or not, in respect of anything and of the consequences of anything done or omitted to be done by any person or persons in reliance, whether whole or partial, upon the whole or any part of the contents of this publication..</p>
        </div>
    </section>
{% endblock %}
